<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/pizza.jpg">
    </div>
</div>

<div class="row">
    <form class="col s12 center-align" (submit)="search($event)">
        <h3>Buscar Restaurantes</h3>
        <div class="input-fields inline col offset-s2 s8">
            <input 
                type="text" 
                id="address" 
                name="address" 
                class="validate" 
                placeholder="Buscar por endereço" 
                [(ngModel)]="address"
                required 
                autofocus
                autocomplete="off">
            
            <input type="submit" value="Buscar" class="btn">
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12" *ngIf="status === 'success'">
        <div class="card horizontal" *ngFor="let restaurant of restaurants">
            <div class="card-image">
                <img src="{{ restaurant.restaurant.photo_full_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{ restaurant.restaurant.name }}</span>
                    <p>{{ restaurant.restaurant.description }}</p>
                </div>
                <div class="card-action">
                    <a [routerLink]="['/restaurant/' + restaurant.restaurant.id]">+ Detalhes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 card amber center-align card-status" *ngIf="status === 'error'">
        <div class="content">
            Nenhum restaurante encontrado
        </div>
    </div>
</div>