<div class="row">
    <div class="col s12">
        <h4><i class="material-icons">keyboard_arrow_right</i>Senha
            <small class="grey-text">troque sua senha</small>
        </h4>
    </div>

    <div class="col s12">
        <div class="card-panel">
            <form class="row">
                <div class="input-field col s12">
                    <input type="password" id="password">
                    <label for="password">Senha</label>
                </div>

                <div class="input-field col s12">
                    <input type="password" id="confirm_paasword">
                    <label for="confirm_paasword">Confirme a senha</label>
                </div>

                <div class="input-field col s12">
                    <input type="button" value="Salvar" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>